h1{
    color: red;
    font-size: 20px;
    text-align: center;
}

a{
    color: rgb(0, 255, 17);
    font-size: 20px;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 50px;
    padding: 10px;
    overflow: hidden;
    background-color: #436ab4;
}

img{
    max-width: 50%;
    max-height: 30%;
    margin: 150px;
    border: 2px solid rgb(12, 118, 113);    
    padding: 20%;
}
body{
    text-align: center;
}