body{
  background-color: #222;
  font-family: 'Poppins', sans-serif;
}

.card{
  width: 90%;
  max-width: 400px;
  background: linear-gradient(135deg, #1f502d 0%, #663312 100%);
  color: #fff;
  margin: 100px auto 0;
  padding: 20px;
  border-radius: 20px;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(76, 204, 233, 0.1);
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: none;
  outline: none;
  background: linear-gradient(135deg, #4b1c04 0%, #7e3e0a 100%);
  color: #f5eeee;
  padding: 20px;
  height: 30px;
  width: 80%;
  border-radius: 30px;
  flex: 1;
  font-size: 20px;
}
.search button{
  background-color: #833c00;  
  padding: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 10px;
}
.search button img{
  width: 20px;
}
.weather-icon{
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
.weather h1{
  font-size: 30px;
  margin: 10px 0;
  font-weight: 500;
}
.weather h2{
  font-size: 24px;
  margin: 10px 0;
  font-weight: 500;
  margin-top: -10px;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  text-align: left;
  align-items: center;
}

.col img{
  width: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.humidity,.wind{
  font-size: 20px;
  margin-top: -6px;
  margin-top: 20; /* Remove margin top to align vertically */
  margin-bottom: 0; /* Remove margin bottom to align vertically */
}
.text{
  font-size: 15px;
  margin: 10px 0;
  margin-top:0px;
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
}